/* =================== DON'T TOUCH - SCROLL DOWN =================== */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}


/* =================== EDIT FROM THIS POINT ON =================== */
/* =================== GENERAL STYLES =================== */

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",sans-serif;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 1rem;
    color: rgb(64, 66, 68);
}

p {
    margin: 0 0 1rem;
}

table {
    border-collapse: collapse;
    margin: 0 0 1rem;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

main {
    margin: 0 auto;
    max-width: 1200px;
    padding: 10px;
}

canvas {
    width: 100%;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="file"] {
    width: 100%;
}

textarea {
    resize: vertical;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

input[type="checkbox"] {
    margin-right: 10px;
    vertical-align: middle;
}

pre {
    text-wrap: wrap;
}

img {
    margin: 0 auto 1rem;
}

/* =================== SHARED STYLES =================== */
.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.header {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 8px;
    justify-content: space-between;
    border-left-color: rgb(64, 66, 68);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(64, 66, 68);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(64, 66, 68);
    border-top-style: none;
    border-top-width: 0px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 8px -10px;
}

.header__title {
    margin: 0;
}

.header__nav {
    display: flex;
    gap: 25px;
}

.header__nav-item {
    color: rgb(64, 66, 68);
    text-decoration: none;
    font-size: 16.4px;
    font-weight: 700;
}

.header__nav-item:hover {
    margin-bottom: -18px;
    border-bottom: 4px solid #418ad4;
}


.header__nav-item--active {
    font-weight: bold;
    color: rgb(64, 66, 68);
}


.form-group {
    margin-bottom: 1rem;
}

.table-wrapper {
    overflow-x: auto;
    min-width: min(100%, 320px);
}

/* =================== FORECAST STYLES =================== */

.chart-container {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.chart-container > * {
    position: relative;
    flex: 1;
}

.chart-container__chart {
    position: relative;
    min-width: min(100%, 500px);
    overflow: hidden;
}
