<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>NIVCast</title>
    <link rel="stylesheet" href="/static/styles.css/"/>
    <script defer src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.min.js"></script>
    <script defer
            src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    <script defer src="/static/scripts.js"></script>
</head>
<body>
<div id="chart_data" style="display: none;">{{ chart_data | tojson }}</div>
<header class="header">
    <h1 class="header__title">NIVCast</h1>
    <nav class="header__nav">
        <a href="/" class="header__nav-item header__nav-item--active">Live Forecast</a>
        <a href="/accuracy" class="header__nav-item">Accuracy</a>
        <a href="/about" class="header__nav-item">About</a>
    </nav>
</header>
<main>
    <h1 class="title">Live forecast</h1>
    <p class="mb-2">
        The NIV (Net Imbalance Volume) is the difference between the energy contracted by market participants and
        the actual energy consumed or generated. The chart below shows the NIV for the previous 48 settlement periods
        of 30 minutes and a forecast for the next 4 settlement periods. It is updated every 30 minutes at 18 and 48
        minutes past the hour.
    </p>
    <div class="chart-container">
        <div class="chart-container__chart">
            <div>
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>
    <div class="table-container__table table-wrapper">
        <table>
            <thead>
            <tr>
                <th>Datetime (UTC)</th>
                <th>Actual</th>
                <th>Forecast</th>
                <th>Forecast Published (UTC)</th>
                <th>Actual Published (UTC)</th>
            </tr>
            </thead>
            <tbody>
            {% for i in range(chart_data.actual|length) %}
            <tr>
                {% for key, values_list in chart_data.items() %}
                    {% if key in ['applies_from_datetime', 'actual', 'latest_forecast', 'forecast_published', 'actual_published'] %}
                   <td>{{ values_list[i] }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</main>
</body>
</html>


